<!--<div class="ui grid">-->
<!--  <div class="twelve wide stretched column">-->
<!--    <div class="ui segment">-->
<!--      This is an stretched grid column. This segment will always match the tab height-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="four wide column">-->
<!--    <div class="ui vertical fluid right tabular menu">-->
<!--      <a class="active item" href="{hacker-new.component.html}">-->

<!--      </a>-->
<!--      <a class="item">-->
<!--        Pics-->
<!--      </a>-->
<!--      <a class="item">-->
<!--        Companies-->
<!--      </a>-->
<!--      <a class="item">-->
<!--        Links-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div style="text-align: center">
  <h3>
    {{title}}!
  </h3>
  <nav>
    <a routerLink="/new">HackerNew</a>
  </nav>
  <router-outlet></router-outlet>
  <app-name-card cardName="Phạm Đăng Linh" email="ph.danglinh214@gmail.com" phone="035 671 2635"></app-name-card>
  <br>
  <app-progress-bar width="65"></app-progress-bar>
</div>
